{
  "openapi": "3.1.1",
  "info": {
    "title": "Sumpooj.API | v1",
    "version": "1.0.0"
  },
  "servers": [
    {
      "url": "https://api.floraprise.com/"
    }
  ],
  "paths": {
    "/api/auth/login": {
      "post": {
        "tags": [
          "Auth"
        ],
        "summary": "POST api/auth/login",
        "description": "Auto-generated documentation for AuthController.Login (Sumpooj.API). Request example: use this endpoint request schema with representative values. Response example: use this endpoint response schema with representative values. Mobile login example: { companyId, identifier, password, deviceId, platform, appVersion }.",
        "operationId": "Auth_Login",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/LoginRequest"
              }
            },
            "text/json": {
              "schema": {
                "$ref": "#/components/schemas/LoginRequest"
              }
            },
            "application/*+json": {
              "schema": {
                "$ref": "#/components/schemas/LoginRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "OK"
          },
          "400": {
            "description": "Bad request.",
            "content": {
              "application/problem+json": { }
            }
          },
          "401": {
            "description": "Unauthorized.",
            "content": {
              "application/problem+json": { }
            }
          },
          "403": {
            "description": "Forbidden.",
            "content": {
              "application/problem+json": { }
            }
          },
          "404": {
            "description": "Not found.",
            "content": {
              "application/problem+json": { }
            }
          },
          "409": {
            "description": "Conflict.",
            "content": {
              "application/problem+json": { }
            }
          },
          "500": {
            "description": "Server error.",
            "content": {
              "application/problem+json": { }
            }
          }
        }
      }
    },
    "/api/auth/refresh": {
      "post": {
        "tags": [
          "Auth"
        ],
        "summary": "Exchange a valid refresh token for a new access token + refresh token pair.\r\nThe old refresh token is revoked (rotation).",
        "description": "Auto-generated documentation for AuthController.Refresh (Sumpooj.API). Request example: use this endpoint request schema with representative values. Response example: use this endpoint response schema with representative values. Token refresh example: { refreshToken }.",
        "operationId": "Auth_Refresh",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/RefreshRequest"
              }
            },
            "text/json": {
              "schema": {
                "$ref": "#/components/schemas/RefreshRequest"
              }
            },
            "application/*+json": {
              "schema": {
                "$ref": "#/components/schemas/RefreshRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "OK"
          },
          "400": {
            "description": "Bad request.",
            "content": {
              "application/problem+json": { }
            }
          },
          "401": {
            "description": "Unauthorized.",
            "content": {
              "application/problem+json": { }
            }
          },
          "403": {
            "description": "Forbidden.",
            "content": {
              "application/problem+json": { }
            }
          },
          "404": {
            "description": "Not found.",
            "content": {
              "application/problem+json": { }
            }
          },
          "409": {
            "description": "Conflict.",
            "content": {
              "application/problem+json": { }
            }
          },
          "500": {
            "description": "Server error.",
            "content": {
              "application/problem+json": { }
            }
          }
        }
      }
    },
    "/api/auth/revoke": {
      "post": {
        "tags": [
          "Auth"
        ],
        "summary": "Revoke a refresh token (used on logout).",
        "description": "Auto-generated documentation for AuthController.Revoke (Sumpooj.API). Request example: use this endpoint request schema with representative values. Response example: use this endpoint response schema with representative values.",
        "operationId": "Auth_Revoke",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/RefreshRequest"
              }
            },
            "text/json": {
              "schema": {
                "$ref": "#/components/schemas/RefreshRequest"
              }
            },
            "application/*+json": {
              "schema": {
                "$ref": "#/components/schemas/RefreshRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "OK"
          },
          "400": {
            "description": "Bad request.",
            "content": {
              "application/problem+json": { }
            }
          },
          "401": {
            "description": "Unauthorized.",
            "content": {
              "application/problem+json": { }
            }
          },
          "403": {
            "description": "Forbidden.",
            "content": {
              "application/problem+json": { }
            }
          },
          "404": {
            "description": "Not found.",
            "content": {
              "application/problem+json": { }
            }
          },
          "409": {
            "description": "Conflict.",
            "content": {
              "application/problem+json": { }
            }
          },
          "500": {
            "description": "Server error.",
            "content": {
              "application/problem+json": { }
            }
          }
        }
      }
    },
    "/api/auth/me": {
      "get": {
        "tags": [
          "Auth"
        ],
        "summary": "Get current user info from token. Used for session refresh/validation.",
        "description": "Auto-generated documentation for AuthController.GetMe (Sumpooj.API). Response example: use this endpoint response schema with representative values.",
        "operationId": "Auth_GetMe",
        "responses": {
          "200": {
            "description": "OK"
          },
          "400": {
            "description": "Bad request.",
            "content": {
              "application/problem+json": { }
            }
          },
          "401": {
            "description": "Unauthorized.",
            "content": {
              "application/problem+json": { }
            }
          },
          "403": {
            "description": "Forbidden.",
            "content": {
              "application/problem+json": { }
            }
          },
          "404": {
            "description": "Not found.",
            "content": {
              "application/problem+json": { }
            }
          },
          "409": {
            "description": "Conflict.",
            "content": {
              "application/problem+json": { }
            }
          },
          "500": {
            "description": "Server error.",
            "content": {
              "application/problem+json": { }
            }
          }
        }
      }
    },
    "/api/auth/verify-password": {
      "post": {
        "tags": [
          "Auth"
        ],
        "summary": "Verify the current user's password. Used for sensitive actions (e.g. currency change).",
        "description": "Auto-generated documentation for AuthController.VerifyPassword (Sumpooj.API). Request example: use this endpoint request schema with representative values. Response example: use this endpoint response schema with representative values.",
        "operationId": "Auth_VerifyPassword",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/VerifyPasswordRequest"
              }
            },
            "text/json": {
              "schema": {
                "$ref": "#/components/schemas/VerifyPasswordRequest"
              }
            },
            "application/*+json": {
              "schema": {
                "$ref": "#/components/schemas/VerifyPasswordRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "OK"
          },
          "400": {
            "description": "Bad request.",
            "content": {
              "application/problem+json": { }
            }
          },
          "401": {
            "description": "Unauthorized.",
            "content": {
              "application/problem+json": { }
            }
          },
          "403": {
            "description": "Forbidden.",
            "content": {
              "application/problem+json": { }
            }
          },
          "404": {
            "description": "Not found.",
            "content": {
              "application/problem+json": { }
            }
          },
          "409": {
            "description": "Conflict.",
            "content": {
              "application/problem+json": { }
            }
          },
          "500": {
            "description": "Server error.",
            "content": {
              "application/problem+json": { }
            }
          }
        }
      }
    },
    "/api/auth/change-password": {
      "post": {
        "tags": [
          "Auth"
        ],
        "summary": "Change the current user's own password. Requires current password.\r\nAvailable to any authenticated user.",
        "description": "Auto-generated documentation for AuthController.ChangePassword (Sumpooj.API). Request example: use this endpoint request schema with representative values. Response example: use this endpoint response schema with representative values.",
        "operationId": "Auth_ChangePassword",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ChangePasswordRequest"
              }
            },
            "text/json": {
              "schema": {
                "$ref": "#/components/schemas/ChangePasswordRequest"
              }
            },
            "application/*+json": {
              "schema": {
                "$ref": "#/components/schemas/ChangePasswordRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "OK"
          },
          "400": {
            "description": "Bad request.",
            "content": {
              "application/problem+json": { }
            }
          },
          "401": {
            "description": "Unauthorized.",
            "content": {
              "application/problem+json": { }
            }
          },
          "403": {
            "description": "Forbidden.",
            "content": {
              "application/problem+json": { }
            }
          },
          "404": {
            "description": "Not found.",
            "content": {
              "application/problem+json": { }
            }
          },
          "409": {
            "description": "Conflict.",
            "content": {
              "application/problem+json": { }
            }
          },
          "500": {
            "description": "Server error.",
            "content": {
              "application/problem+json": { }
            }
          }
        }
      }
    },
    "/api/auth/admin-reset-password": {
      "post": {
        "tags": [
          "Auth"
        ],
        "summary": "Reset another user's password (admin action).\r\n- PlatformSuperAdmin / PlatformSupport: can reset any user\r\n- CompanyAdmin: can only reset users within their company",
        "description": "Auto-generated documentation for AuthController.AdminResetPassword (Sumpooj.API). Request example: use this endpoint request schema with representative values. Response example: use this endpoint response schema with representative values.",
        "operationId": "Auth_AdminResetPassword",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/AdminResetPasswordRequest"
              }
            },
            "text/json": {
              "schema": {
                "$ref": "#/components/schemas/AdminResetPasswordRequest"
              }
            },
            "application/*+json": {
              "schema": {
                "$ref": "#/components/schemas/AdminResetPasswordRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "OK"
          },
          "400": {
            "description": "Bad request.",
            "content": {
              "application/problem+json": { }
            }
          },
          "401": {
            "description": "Unauthorized.",
            "content": {
              "application/problem+json": { }
            }
          },
          "403": {
            "description": "Forbidden.",
            "content": {
              "application/problem+json": { }
            }
          },
          "404": {
            "description": "Not found.",
            "content": {
              "application/problem+json": { }
            }
          },
          "409": {
            "description": "Conflict.",
            "content": {
              "application/problem+json": { }
            }
          },
          "500": {
            "description": "Server error.",
            "content": {
              "application/problem+json": { }
            }
          }
        }
      }
    },
    "/api/auth/manageable-users": {
      "get": {
        "tags": [
          "Auth"
        ],
        "summary": "List users that the current admin can manage passwords for.\r\n- PlatformSuperAdmin / PlatformSupport: all users\r\n- CompanyAdmin: users in their company only",
        "description": "Auto-generated documentation for AuthController.GetManageableUsers (Sumpooj.API). Response example: use this endpoint response schema with representative values.",
        "operationId": "Auth_GetManageableUsers",
        "responses": {
          "200": {
            "description": "OK"
          },
          "400": {
            "description": "Bad request.",
            "content": {
              "application/problem+json": { }
            }
          },
          "401": {
            "description": "Unauthorized.",
            "content": {
              "application/problem+json": { }
            }
          },
          "403": {
            "description": "Forbidden.",
            "content": {
              "application/problem+json": { }
            }
          },
          "404": {
            "description": "Not found.",
            "content": {
              "application/problem+json": { }
            }
          },
          "409": {
            "description": "Conflict.",
            "content": {
              "application/problem+json": { }
            }
          },
          "500": {
            "description": "Server error.",
            "content": {
              "application/problem+json": { }
            }
          }
        }
      }
    },
    "/api/accounting/dashboard": {
      "get": {
        "tags": [
          "Accounting"
        ],
        "summary": "GET api/accounting/dashboard",
        "description": "Auto-generated documentation for Sumpooj.API.Controllers.AccountingController.GetDashboard (Sumpooj.API). Response example: use this endpoint response schema with representative values.",
        "operationId": "Accounting_GetDashboard",
        "responses": {
          "200": {
            "description": "OK"
          },
          "400": {
            "description": "Bad request.",
            "content": {
              "application/problem+json": { }
            }
          },
          "401": {
            "description": "Unauthorized.",
            "content": {
              "application/problem+json": { }
            }
          },
          "403": {
            "description": "Forbidden.",
            "content": {
              "application/problem+json": { }
            }
          },
          "404": {
            "description": "Not found.",
            "content": {
              "application/problem+json": { }
            }
          },
          "409": {
            "description": "Conflict.",
            "content": {
              "application/problem+json": { }
            }
          },
          "500": {
            "description": "Server error.",
            "content": {
              "application/problem+json": { }
            }
          }
        }
      }
    },
    "/api/accounting/accounts": {
      "get": {
        "tags": [
          "Accounting"
        ],
        "summary": "GET api/accounting/accounts",
        "description": "Auto-generated documentation for Sumpooj.API.Controllers.AccountingController.GetAccounts (Sumpooj.API). Response example: use this endpoint response schema with representative values.",
        "operationId": "Accounting_GetAccounts",
        "responses": {
          "200": {
            "description": "OK"
          },
          "400": {
            "description": "Bad request.",
            "content": {
              "application/problem+json": { }
            }
          },
          "401": {
            "description": "Unauthorized.",
            "content": {
              "application/problem+json": { }
            }
          },
          "403": {
            "description": "Forbidden.",
            "content": {
              "application/problem+json": { }
            }
          },
          "404": {
            "description": "Not found.",
            "content": {
              "application/problem+json": { }
            }
          },
          "409": {
            "description": "Conflict.",
            "content": {
              "application/problem+json": { }
            }
          },
          "500": {
            "description": "Server error.",
            "content": {
              "application/problem+json": { }
            }
          }
        }
      },
      "post": {
        "tags": [
          "Accounting"
        ],
        "summary": "POST api/accounting/accounts",
        "description": "Auto-generated documentation for Sumpooj.API.Controllers.AccountingController.CreateAccount (Sumpooj.API). Request example: use this endpoint request schema with representative values. Response example: use this endpoint response schema with representative values.",
        "operationId": "Accounting_CreateAccount",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CreateAccountRequest"
              }
            },
            "text/json": {
              "schema": {
                "$ref": "#/components/schemas/CreateAccountRequest"
              }
            },
            "application/*+json": {
              "schema": {
                "$ref": "#/components/schemas/CreateAccountRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "OK"
          },
          "400": {
            "description": "Bad request.",
            "content": {
              "application/problem+json": { }
            }
          },
          "401": {
            "description": "Unauthorized.",
            "content": {
              "application/problem+json": { }
            }
          },
          "403": {
            "description": "Forbidden.",
            "content": {
              "application/problem+json": { }
            }
          },
          "404": {
            "description": "Not found.",
            "content": {
              "application/problem+json": { }
            }
          },
          "409": {
            "description": "Conflict.",
            "content": {
              "application/problem+json": { }
            }
          },
          "500": {
            "description": "Server error.",
            "content": {
              "application/problem+json": { }
            }
          }
        }
      }
    },
    "/api/accounting/accounts/{id}": {
      "put": {
        "tags": [
          "Accounting"
        ],
        "summary": "PUT api/accounting/accounts/{id}",
        "description": "Auto-generated documentation for Sumpooj.API.Controllers.AccountingController.UpdateAccount (Sumpooj.API). Request example: use this endpoint request schema with representative values. Response example: use this endpoint response schema with representative values.",
        "operationId": "Accounting_UpdateAccount",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/UpdateAccountRequest"
              }
            },
            "text/json": {
              "schema": {
                "$ref": "#/components/schemas/UpdateAccountRequest"
              }
            },
            "application/*+json": {
              "schema": {
                "$ref": "#/components/schemas/UpdateAccountRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "OK"
          },
          "400": {
            "description": "Bad request.",
            "content": {
              "application/problem+json": { }
            }
          },
          "401": {
            "description": "Unauthorized.",
            "content": {
              "application/problem+json": { }
            }
          },
          "403": {
            "description": "Forbidden.",
            "content": {
              "application/problem+json": { }
            }
          },
          "404": {
            "description": "Not found.",
            "content": {
              "application/problem+json": { }
            }
          },
          "409": {
            "description": "Conflict.",
            "content": {
              "application/problem+json": { }
            }
          },
          "500": {
            "description": "Server error.",
            "content": {
              "application/problem+json": { }
            }
          }
        }
      }
    },
    "/api/accounting/accounts/{id}/disable": {
      "put": {
        "tags": [
          "Accounting"
        ],
        "summary": "PUT api/accounting/accounts/{id}/disable",
        "description": "Auto-generated documentation for Sumpooj.API.Controllers.AccountingController.DisableAccount (Sumpooj.API). Response example: use this endpoint response schema with representative values.",
        "operationId": "Accounting_DisableAccount",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK"
          },
          "400": {
            "description": "Bad request.",
            "content": {
              "application/problem+json": { }
            }
          },
          "401": {
            "description": "Unauthorized.",
            "content": {
              "application/problem+json": { }
            }
          },
          "403": {
            "description": "Forbidden.",
            "content": {
              "application/problem+json": { }
            }
          },
          "404": {
            "description": "Not found.",
            "content": {
              "application/problem+json": { }
            }
          },
          "409": {
            "description": "Conflict.",
            "content": {
              "application/problem+json": { }
            }
          },
          "500": {
            "description": "Server error.",
            "content": {
              "application/problem+json": { }
            }
          }
        }
      }
    },
    "/api/accounting/accounts/{id}/enable": {
      "put": {
        "tags": [
          "Accounting"
        ],
        "summary": "PUT api/accounting/accounts/{id}/enable",
        "description": "Auto-generated documentation for Sumpooj.API.Controllers.AccountingController.EnableAccount (Sumpooj.API). Response example: use this endpoint response schema with representative values.",
        "operationId": "Accounting_EnableAccount",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK"
          },
          "400": {
            "description": "Bad request.",
            "content": {
              "application/problem+json": { }
            }
          },
          "401": {
            "description": "Unauthorized.",
            "content": {
              "application/problem+json": { }
            }
          },
          "403": {
            "description": "Forbidden.",
            "content": {
              "application/problem+json": { }
            }
          },
          "404": {
            "description": "Not found.",
            "content": {
              "application/problem+json": { }
            }
          },
          "409": {
            "description": "Conflict.",
            "content": {
              "application/problem+json": { }
            }
          },
          "500": {
            "description": "Server error.",
            "content": {
              "application/problem+json": { }
            }
          }
        }
      }
    },
    "/api/accounting/expenses": {
      "get": {
        "tags": [
          "Accounting"
        ],
        "summary": "GET api/accounting/expenses",
        "description": "Auto-generated documentation for Sumpooj.API.Controllers.AccountingController.GetExpenses (Sumpooj.API). Response example: use this endpoint response schema with representative values.",
        "operationId": "Accounting_GetExpenses",
        "responses": {
          "200": {
            "description": "OK"
          },
          "400": {
            "description": "Bad request.",
            "content": {
              "application/problem+json": { }
            }
          },
          "401": {
            "description": "Unauthorized.",
            "content": {
              "application/problem+json": { }
            }
          },
          "403": {
            "description": "Forbidden.",
            "content": {
              "application/problem+json": { }
            }
          },
          "404": {
            "description": "Not found.",
            "content": {
              "application/problem+json": { }
            }
          },
          "409": {
            "description": "Conflict.",
            "content": {
              "application/problem+json": { }
            }
          },
          "500": {
            "description": "Server error.",
            "content": {
              "application/problem+json": { }
            }
          }
        }
      },
      "post": {
        "tags": [
          "Accounting"
        ],
        "summary": "POST api/accounting/expenses",
        "description": "Auto-generated documentation for Sumpooj.API.Controllers.AccountingController.CreateExpense (Sumpooj.API). Request example: use this endpoint request schema with representative values. Response example: use this endpoint response schema with representative values.",
        "operationId": "Accounting_CreateExpense",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CreateExpenseRequest"
              }
            },
            "text/json": {
              "schema": {
                "$ref": "#/components/schemas/CreateExpenseRequest"
              }
            },
            "application/*+json": {
              "schema": {
                "$ref": "#/components/schemas/CreateExpenseRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "OK"
          },
          "400": {
            "description": "Bad request.",
            "content": {
              "application/problem+json": { }
            }
          },
          "401": {
            "description": "Unauthorized.",
            "content": {
              "application/problem+json": { }
            }
          },
          "403": {
            "description": "Forbidden.",
            "content": {
              "application/problem+json": { }
            }
          },
          "404": {
            "description": "Not found.",
            "content": {
              "application/problem+json": { }
            }
          },
          "409": {
            "description": "Conflict.",
            "content": {
              "application/problem+json": { }
            }
          },
          "500": {
            "description": "Server error.",
            "content": {
              "application/problem+json": { }
            }
          }
        }
      }
    },
    "/api/accounting/expenses/{id}": {
      "put": {
        "tags": [
          "Accounting"
        ],
        "summary": "PUT api/accounting/expenses/{id}",
        "description": "Auto-generated documentation for Sumpooj.API.Controllers.AccountingController.UpdateExpense (Sumpooj.API). Request example: use this endpoint request schema with representative values. Response example: use this endpoint response schema with representative values.",
        "operationId": "Accounting_UpdateExpense",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/UpdateExpenseRequest"
              }
            },
            "text/json": {
              "schema": {
                "$ref": "#/components/schemas/UpdateExpenseRequest"
              }
            },
            "application/*+json": {
              "schema": {
                "$ref": "#/components/schemas/UpdateExpenseRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "OK"
          },
          "400": {
            "description": "Bad request.",
            "content": {
              "application/problem+json": { }
            }
          },
          "401": {
            "description": "Unauthorized.",
            "content": {
              "application/problem+json": { }
            }
          },
          "403": {
            "description": "Forbidden.",
            "content": {
              "application/problem+json": { }
            }
          },
          "404": {
            "description": "Not found.",
            "content": {
              "application/problem+json": { }
            }
          },
          "409": {
            "description": "Conflict.",
            "content": {
              "application/problem+json": { }
            }
          },
          "500": {
            "description": "Server error.",
            "content": {
              "application/problem+json": { }
            }
          }
        }
      }
    },
    "/api/accounting/expenses/{id}/disable": {
      "put": {
        "tags": [
          "Accounting"
        ],
        "summary": "PUT api/accounting/expenses/{id}/disable",
        "description": "Auto-generated documentation for Sumpooj.API.Controllers.AccountingController.DisableExpense (Sumpooj.API). Response example: use this endpoint response schema with representative values.",
        "operationId": "Accounting_DisableExpense",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK"
          },
          "400": {
            "description": "Bad request.",
            "content": {
              "application/problem+json": { }
            }
          },
          "401": {
            "description": "Unauthorized.",
            "content": {
              "application/problem+json": { }
            }
          },
          "403": {
            "description": "Forbidden.",
            "content": {
              "application/problem+json": { }
            }
          },
          "404": {
            "description": "Not found.",
            "content": {
              "application/problem+json": { }
            }
          },
          "409": {
            "description": "Conflict.",
            "content": {
              "application/problem+json": { }
            }
          },
          "500": {
            "description": "Server error.",
            "content": {
              "application/problem+json": { }
            }
          }
        }
      }
    },
    "/api/accounting/journal": {
      "get": {
        "tags": [
          "Accounting"
        ],
        "summary": "GET api/accounting/journal",
        "description": "Auto-generated documentation for Sumpooj.API.Controllers.AccountingController.GetJournalEntries (Sumpooj.API). Response example: use this endpoint response schema with representative values.",
        "operationId": "Accounting_GetJournalEntries",
        "responses": {
          "200": {
            "description": "OK"
          },
          "400": {
            "description": "Bad request.",
            "content": {
              "application/problem+json": { }
            }
          },
          "401": {
            "description": "Unauthorized.",
            "content": {
              "application/problem+json": { }
            }
          },
          "403": {
            "description": "Forbidden.",
            "content": {
              "application/problem+json": { }
            }
          },
          "404": {
            "description": "Not found.",
            "content": {
              "application/problem+json": { }
            }
          },
          "409": {
            "description": "Conflict.",
            "content": {
              "application/problem+json": { }
            }
          },
          "500": {
            "description": "Server error.",
            "content": {
              "application/problem+json": { }
            }
          }
        }
      },
      "post": {
        "tags": [
          "Accounting"
        ],
        "summary": "POST api/accounting/journal",
        "description": "Auto-generated documentation for Sumpooj.API.Controllers.AccountingController.CreateJournalEntry (Sumpooj.API). Request example: use this endpoint request schema with representative values. Response example: use this endpoint response schema with representative values.",
        "operationId": "Accounting_CreateJournalEntry",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CreateJournalEntryRequest"
              }
            },
            "text/json": {
              "schema": {
                "$ref": "#/components/schemas/CreateJournalEntryRequest"
              }
            },
            "application/*+json": {
              "schema": {
                "$ref": "#/components/schemas/CreateJournalEntryRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "OK"
          },
          "400": {
            "description": "Bad request.",
            "content": {
              "application/problem+json": { }
            }
          },
          "401": {
            "description": "Unauthorized.",
            "content": {
              "application/problem+json": { }
            }
          },
          "403": {
            "description": "Forbidden.",
            "content": {
              "application/problem+json": { }
            }
          },
          "404": {
            "description": "Not found.",
            "content": {
              "application/problem+json": { }
            }
          },
          "409": {
            "description": "Conflict.",
            "content": {
              "application/problem+json": { }
            }
          },
          "500": {
            "description": "Server error.",
            "content": {
              "application/problem+json": { }
            }
          }
        }
      }
    },
    "/api/accounting/profit-loss": {
      "get": {
        "tags": [
          "Accounting"
        ],
        "summary": "GET api/accounting/profit-loss",
        "description": "Auto-generated documentation for Sumpooj.API.Controllers.AccountingController.GetProfitLoss (Sumpooj.API). Response example: use this endpoint response schema with representative values.",
        "operationId": "Accounting_GetProfitLoss",
        "responses": {
          "200": {
            "description": "OK"
          },
          "400": {
            "description": "Bad request.",
            "content": {
              "application/problem+json": { }
            }
          },
          "401": {
            "description": "Unauthorized.",
            "content": {
              "application/problem+json": { }
            }
          },
          "403": {
            "description": "Forbidden.",
            "content": {
              "application/problem+json": { }
            }
          },
          "404": {
            "description": "Not found.",
            "content": {
              "application/problem+json": { }
            }
          },
          "409": {
            "description": "Conflict.",
            "content": {
              "application/problem+json": { }
            }
          },
          "500": {
            "description": "Server error.",
            "content": {
              "application/problem+json": { }
            }
          }
        }
      }
    },
    "/api/accounting/tax-summary": {
      "get": {
        "tags": [
          "Accounting"
        ],
        "summary": "GET api/accounting/tax-summary",
        "description": "Auto-generated documentation for Sumpooj.API.Controllers.AccountingController.GetTaxSummary (Sumpooj.API). Response example: use this endpoint response schema with representative values.",
        "operationId": "Accounting_GetTaxSummary",
        "responses": {
          "200": {
            "description": "OK"
          },
          "400": {
            "description": "Bad request.",
            "content": {
              "application/problem+json": { }
            }
          },
          "401": {
            "description": "Unauthorized.",
            "content": {
              "application/problem+json": { }
            }
          },
          "403": {
            "description": "Forbidden.",
            "content": {
              "application/problem+json": { }
            }
          },
          "404": {
            "description": "Not found.",
            "content": {
              "application/problem+json": { }
            }
          },
          "409": {
            "description": "Conflict.",
            "content": {
              "application/problem+json": { }
            }
          },
          "500": {
            "description": "Server error.",
            "content": {
              "application/problem+json": { }
            }
          }
        }
      }
    },
    "/api/accounting/ledger": {
      "get": {
        "tags": [
          "Accounting"
        ],
        "summary": "GET api/accounting/ledger",
        "description": "Auto-generated documentation for Sumpooj.API.Controllers.AccountingController.GetLedger (Sumpooj.API). Response example: use this endpoint response schema with representative values.",
        "operationId": "Accounting_GetLedger",
        "parameters": [
          {
            "name": "accountId",
            "in": "query",
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK"
          },
          "400": {
            "description": "Bad request.",
            "content": {
              "application/problem+json": { }
            }
          },
          "401": {
            "description": "Unauthorized.",
            "content": {
              "application/problem+json": { }
            }
          },
          "403": {
            "description": "Forbidden.",
            "content": {
              "application/problem+json": { }
            }
          },
          "404": {
            "description": "Not found.",
            "content": {
              "application/problem+json": { }
            }
          },
          "409": {
            "description": "Conflict.",
            "content": {
              "application/problem+json": { }
            }
          },
          "500": {
            "description": "Server error.",
            "content": {
              "application/problem+json": { }
            }
          }
        }
      }
    },
    "/api/accounting/trial-balance": {
      "get": {
        "tags": [
          "Accounting"
        ],
        "summary": "GET api/accounting/trial-balance",
        "description": "Auto-generated documentation for Sumpooj.API.Controllers.AccountingController.GetTrialBalance (Sumpooj.API). Response example: use this endpoint response schema with representative values.",
        "operationId": "Accounting_GetTrialBalance",
        "responses": {
          "200": {
            "description": "OK"
          },
          "400": {
            "description": "Bad request.",
            "content": {
              "application/problem+json": { }
            }
          },
          "401": {
            "description": "Unauthorized.",
            "content": {
              "application/problem+json": { }
            }
          },
          "403": {
            "description": "Forbidden.",
            "content": {
              "application/problem+json": { }
            }
          },
          "404": {
            "description": "Not found.",
            "content": {
              "application/problem+json": { }
            }
          },
          "409": {
            "description": "Conflict.",
            "content": {
              "application/problem+json": { }
            }
          },
          "500": {
            "description": "Server error.",
            "content": {
              "application/problem+json": { }
            }
          }
        }
      }
    },
    "/api/accounting/balance-sheet": {
      "get": {
        "tags": [
          "Accounting"
        ],
        "summary": "GET api/accounting/balance-sheet",
        "description": "Auto-generated documentation for Sumpooj.API.Controllers.AccountingController.GetBalanceSheet (Sumpooj.API). Response example: use this endpoint response schema with representative values.",
        "operationId": "Accounting_GetBalanceSheet",
        "responses": {
          "200": {
            "description": "OK"
          },
          "400": {
            "description": "Bad request.",
            "content": {
              "application/problem+json": { }
            }
          },
          "401": {
            "description": "Unauthorized.",
            "content": {
              "application/problem+json": { }
            }
          },
          "403": {
            "description": "Forbidden.",
            "content": {
              "application/problem+json": { }
            }
          },
          "404": {
            "description": "Not found.",
            "content": {
              "application/problem+json": { }
            }
          },
          "409": {
            "description": "Conflict.",
            "content": {
              "application/problem+json": { }
            }
          },
          "500": {
            "description": "Server error.",
            "content": {
              "application/problem+json": { }
            }
          }
        }
      }
    },
    "/api/admin/demo-requests": {
      "get": {
        "tags": [
          "AdminDemoRequests"
        ],
        "summary": "List all demo requests. Platform Super Admin only.",
        "description": "Auto-generated documentation for Sumpooj.API.Controllers.AdminDemoRequestsController.GetAll (Sumpooj.API). Response example: use this endpoint response schema with representative values.",
        "operationId": "AdminDemoRequests_GetAll",
        "responses": {
          "200": {
            "description": "OK"
          },
          "400": {
            "description": "Bad request.",
            "content": {
              "application/problem+json": { }
            }
          },
          "401": {
            "description": "Unauthorized.",
            "content": {
              "application/problem+json": { }
            }
          },
          "403": {
            "description": "Forbidden.",
            "content": {
              "application/problem+json": { }
            }
          },
          "404": {
            "description": "Not found.",
            "content": {
              "application/problem+json": { }
            }
          },
          "409": {
            "description": "Conflict.",
            "content": {
              "application/problem+json": { }
            }
          },
          "500": {
            "description": "Server error.",
            "content": {
              "application/problem+json": { }
            }
          }
        }
      }
    },
    "/api/admin/demo-requests/{id}": {
      "get": {
        "tags": [
          "AdminDemoRequests"
        ],
        "summary": "Get a single demo request by ID.",
        "description": "Auto-generated documentation for Sumpooj.API.Controllers.AdminDemoRequestsController.GetById (Sumpooj.API). Response example: use this endpoint response schema with representative values.",
        "operationId": "AdminDemoRequests_GetById",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK"
          },
          "400": {
            "description": "Bad request.",
            "content": {
              "application/problem+json": { }
            }
          },
          "401": {
            "description": "Unauthorized.",
            "content": {
              "application/problem+json": { }
            }
          },
          "403": {
            "description": "Forbidden.",
            "content": {
              "application/problem+json": { }
            }
          },
          "404": {
            "description": "Not found.",
            "content": {
              "application/problem+json": { }
            }
          },
          "409": {
            "description": "Conflict.",
            "content": {
              "application/problem+json": { }
            }
          },
          "500": {
            "description": "Server error.",
            "content": {
              "application/problem+json": { }
            }
          }
        }
      }
    },
    "/api/admin/demo-requests/{id}/status": {
      "patch": {
        "tags": [
          "AdminDemoRequests"
        ],
        "summary": "Update the status of a demo request (e.g. NewLead → Contacted → Qualified → Converted).",
        "description": "Auto-generated documentation for Sumpooj.API.Controllers.AdminDemoRequestsController.UpdateStatus (Sumpooj.API). Request example: use this endpoint request schema with representative values. Response example: use this endpoint response schema with representative values.",
        "operationId": "AdminDemoRequests_UpdateStatus",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/UpdateDemoRequestStatusRequest"
              }
            },
            "text/json": {
              "schema": {
                "$ref": "#/components/schemas/UpdateDemoRequestStatusRequest"
              }
            },
            "application/*+json": {
              "schema": {
                "$ref": "#/components/schemas/UpdateDemoRequestStatusRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "OK"
          },
          "400": {
            "description": "Bad request.",
            "content": {
              "application/problem+json": { }
            }
          },
          "401": {
            "description": "Unauthorized.",
            "content": {
              "application/problem+json": { }
            }
          },
          "403": {
            "description": "Forbidden.",
            "content": {
              "application/problem+json": { }
            }
          },
          "404": {
            "description": "Not found.",
            "content": {
              "application/problem+json": { }
            }
          },
          "409": {
            "description": "Conflict.",
            "content": {
              "application/problem+json": { }
            }
          },
          "500": {
            "description": "Server error.",
            "content": {
              "application/problem+json": { }
            }
          }
        }
      }
    },
    "/api/admin/demo-requests/{id}/onboard": {
      "post": {
        "tags": [
          "AdminDemoRequests"
        ],
        "summary": "Onboard a demo request as a new company.\r\nCreates the company, a CompanyAdmin user, and marks the demo request as Converted.\r\nReturns the login credentials for sharing with the client.",
        "description": "Auto-generated documentation for Sumpooj.API.Controllers.AdminDemoRequestsController.Onboard (Sumpooj.API). Response example: use this endpoint response schema with representative values.",
        "operationId": "AdminDemoRequests_Onboard",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK"
          },
          "400": {
            "description": "Bad request.",
            "content": {
              "application/problem+json": { }
            }
          },
          "401": {
            "description": "Unauthorized.",
            "content": {
              "application/problem+json": { }
            }
          },
          "403": {
            "description": "Forbidden.",
            "content": {
              "application/problem+json": { }
            }
          },
          "404": {
            "description": "Not found.",
            "content": {
              "application/problem+json": { }
            }
          },
          "409": {
            "description": "Conflict.",
            "content": {
              "application/problem+json": { }
            }
          },
          "500": {
            "description": "Server error.",
            "content": {
              "application/problem+json": { }
            }
          }
        }
      }
    },
    "/api/ai/giftcard/background": {
      "post": {
        "tags": [
          "AI"
        ],
        "summary": "Generate an AI gift card background image (DALL-E 3).\r\nSubject to daily per-user and monthly per-company limits.",
        "description": "Auto-generated documentation for Sumpooj.API.Controllers.AIController.GenerateGiftCardBackground (Sumpooj.API). Request example: use this endpoint request schema with representative values. Response example: use this endpoint response schema with representative values.",
        "operationId": "AI_GenerateGiftCardBackground",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/GiftCardBackgroundRequest"
              }
            },
            "text/json": {
              "schema": {
                "$ref": "#/components/schemas/GiftCardBackgroundRequest"
              }
            },
            "application/*+json": {
              "schema": {
                "$ref": "#/components/schemas/GiftCardBackgroundRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "OK"
          },
          "400": {
            "description": "Bad request.",
            "content": {
              "application/problem+json": { }
            }
          },
          "401": {
            "description": "Unauthorized.",
            "content": {
              "application/problem+json": { }
            }
          },
          "403": {
            "description": "Forbidden.",
            "content": {
              "application/problem+json": { }
            }
          },
          "404": {
            "description": "Not found.",
            "content": {
              "application/problem+json": { }
            }
          },
          "409": {
            "description": "Conflict.",
            "content": {
              "application/problem+json": { }
            }
          },
          "500": {
            "description": "Server error.",
            "content": {
              "application/problem+json": { }
            }
          }
        }
      }
    },
    "/api/ai/giftcard/usage": {
      "get": {
        "tags": [
          "AI"
        ],
        "summary": "Get current AI usage quota for the authenticated user/company.",
        "description": "Auto-generated documentation for Sumpooj.API.Controllers.AIController.GetGiftCardUsage (Sumpooj.API). Response example: use this endpoint response schema with representative values.",
        "operationId": "AI_GetGiftCardUsage",
        "responses": {
          "200": {
            "description": "OK"
          },
          "400": {
            "description": "Bad request.",
            "content": {
              "application/problem+json": { }
            }
          },
          "401": {
            "description": "Unauthorized.",
            "content": {
              "application/problem+json": { }
            }
          },
          "403": {
            "description": "Forbidden.",
            "content": {
              "application/problem+json": { }
            }
          },
          "404": {
            "description": "Not found.",
            "content": {
              "application/problem+json": { }
            }
          },
          "409": {
            "description": "Conflict.",
            "content": {
              "application/problem+json": { }
            }
          },
          "500": {
            "description": "Server error.",
            "content": {
              "application/problem+json": { }
            }
          }
        }
      }
    },
    "/api/ai/analyze-bouquet": {
      "post": {
        "tags": [
          "AI"
        ],
        "summary": "Analyze a bouquet photo using GPT-4o-mini vision.\r\nReturns detected flowers, stem counts, style, shape, and height.\r\nReplaces the separate Python AI service.",
        "description": "Auto-generated documentation for Sumpooj.API.Controllers.AIController.AnalyzeBouquet (Sumpooj.API). Request example: use this endpoint request schema with representative values. Response example: use this endpoint response schema with representative values.",
        "operationId": "AI_AnalyzeBouquet",
        "requestBody": {
          "content": {
            "multipart/form-data": {
              "schema": {
                "type": "object",
                "properties": {
                  "file": {
                    "$ref": "#/components/schemas/IFormFile"
                  }
                }
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "OK"
          },
          "400": {
            "description": "Bad request.",
            "content": {
              "application/problem+json": { }
            }
          },
          "401": {
            "description": "Unauthorized.",
            "content": {
              "application/problem+json": { }
            }
          },
          "403": {
            "description": "Forbidden.",
            "content": {
              "application/problem+json": { }
            }
          },
          "404": {
            "description": "Not found.",
            "content": {
              "application/problem+json": { }
            }
          },
          "409": {
            "description": "Conflict.",
            "content": {
              "application/problem+json": { }
            }
          },
          "500": {
            "description": "Server error.",
            "content": {
              "application/problem+json": { }
            }
          }
        }
      }
    },
    "/api/ai/bouquet-recipes": {
      "post": {
        "tags": [
          "AI"
        ],
        "summary": "Save a bouquet recipe from AI scan results.\r\nPersists to the FloralRecipes table (same as production recipes).",
        "description": "Auto-generated documentation for Sumpooj.API.Controllers.AIController.SaveBouquetRecipe (Sumpooj.API). Request example: use this endpoint request schema with representative values. Response example: use this endpoint response schema with representative values.",
        "operationId": "AI_SaveBouquetRecipe",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/SaveBouquetRecipeRequest"
              }
            },
            "text/json": {
              "schema": {
                "$ref": "#/components/schemas/SaveBouquetRecipeRequest"
              }
            },
            "application/*+json": {
              "schema": {
                "$ref": "#/components/schemas/SaveBouquetRecipeRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "OK"
          },
          "400": {
            "description": "Bad request.",
            "content": {
              "application/problem+json": { }
            }
          },
          "401": {
            "description": "Unauthorized.",
            "content": {
              "application/problem+json": { }
            }
          },
          "403": {
            "description": "Forbidden.",
            "content": {
              "application/problem+json": { }
            }
          },
          "404": {
            "description": "Not found.",
            "content": {
              "application/problem+json": { }
            }
          },
          "409": {
            "description": "Conflict.",
            "content": {
              "application/problem+json": { }
            }
          },
          "500": {
            "description": "Server error.",
            "content": {
              "application/problem+json": { }
            }
          }
        }
      },
      "get": {
        "tags": [
          "AI"
        ],
        "summary": "Get bouquet recipes saved from AI scans.",
        "description": "Auto-generated documentation for Sumpooj.API.Controllers.AIController.GetBouquetRecipes (Sumpooj.API). Response example: use this endpoint response schema with representative values.",
        "operationId": "AI_GetBouquetRecipes",
        "responses": {
          "200": {
            "description": "OK"
          },
          "400": {
            "description": "Bad request.",
            "content": {
              "application/problem+json": { }
            }
          },
          "401": {
            "description": "Unauthorized.",
            "content": {
              "application/problem+json": { }
            }
          },
          "403": {
            "description": "Forbidden.",
            "content": {
              "application/problem+json": { }
            }
          },
          "404": {
            "description": "Not found.",
            "content": {
              "application/problem+json": { }
            }
          },
          "409": {
            "description": "Conflict.",
            "content": {
              "application/problem+json": { }
            }
          },
          "500": {
            "description": "Server error.",
            "content": {
              "application/problem+json": { }
            }
          }
        }
      }
    },
    "/api/analytics/profit-dashboard": {
      "get": {
        "tags": [
          "Analytics"
        ],
        "summary": "Get profit dashboard data",
        "description": "Auto-generated documentation for Sumpooj.API.Controllers.AnalyticsController.GetProfitDashboard (Sumpooj.API). Response example: use this endpoint response schema with representative values.",
        "operationId": "Analytics_GetProfitDashboard",
        "parameters": [
          {
            "name": "FromDate",
            "in": "query",
            "schema": {
              "type": "string",
              "format": "date-time"
            }
          },
          {
            "name": "ToDate",
            "in": "query",
            "schema": {
              "type": "string",
              "format": "date-time"
            }
          },
          {
            "name": "LocationId",
            "in": "query",
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          },
          {
            "name": "DateRangePreset",
            "in": "query",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "text/plain": {
                "schema": {
                  "$ref": "#/components/schemas/ProfitDashboardDto"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProfitDashboardDto"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProfitDashboardDto"
                }
              }
            }
          },
          "400": {
            "description": "Bad request.",
            "content": {
              "application/problem+json": { }
            }
          },
          "401": {
            "description": "Unauthorized.",
            "content": {
              "application/problem+json": { }
            }
          },
          "403": {
            "description": "Forbidden.",
            "content": {
              "application/problem+json": { }
            }
          },
          "404": {
            "description": "Not found.",
            "content": {
              "application/problem+json": { }
            }
          },
          "409": {
            "description": "Conflict.",
            "content": {
              "application/problem+json": { }
            }
          },
          "500": {
            "description": "Server error.",
            "content": {
              "application/problem+json": { }
            }
          }
        }
      }
    },
    "/api/analytics/profit-summary": {
      "get": {
        "tags": [
          "Analytics"
        ],
        "summary": "Get profit summary for a date range",
        "description": "Auto-generated documentation for Sumpooj.API.Controllers.AnalyticsController.GetProfitSummary (Sumpooj.API). Response example: use this endpoint response schema with representative values.",
        "operationId": "Analytics_GetProfitSummary",
        "parameters": [
          {
            "name": "fromDate",
            "in": "query",
            "schema": {
              "type": "string",
              "format": "date-time"
            }
          },
          {
            "name": "toDate",
            "in": "query",
            "schema": {
              "type": "string",
              "format": "date-time"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "text/plain": {
                "schema": {
                  "$ref": "#/components/schemas/ExecutiveSummaryDto"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ExecutiveSummaryDto"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/ExecutiveSummaryDto"
                }
              }
            }
          },
          "400": {
            "description": "Bad request.",
            "content": {
              "application/problem+json": { }
            }
          },
          "401": {
            "description": "Unauthorized.",
            "content": {
              "application/problem+json": { }
            }
          },
          "403": {
            "description": "Forbidden.",
            "content": {
              "application/problem+json": { }
            }
          },
          "404": {
            "description": "Not found.",
            "content": {
              "application/problem+json": { }
            }
          },
          "409": {
            "description": "Conflict.",
            "content": {
              "application/problem+json": { }
            }
          },
          "500": {
            "description": "Server error.",
            "content": {
              "application/problem+json": { }
            }
          }
        }
      }
    },
    "/api/analytics/profit-by-channel": {
      "get": {
        "tags": [
          "Analytics"
        ],
        "summary": "Get channel-wise profit breakdown",
        "description": "Auto-generated documentation for Sumpooj.API.Controllers.AnalyticsController.GetProfitByChannel (Sumpooj.API). Response example: use this endpoint response schema with representative values.",
        "operationId": "Analytics_GetProfitByChannel",
        "parameters": [
          {
            "name": "fromDate",
            "in": "query",
            "schema": {
              "type": "string",
              "format": "date-time"
            }
          },
          {
            "name": "toDate",
            "in": "query",
            "schema": {
              "type": "string",
              "format": "date-time"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "text/plain": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/ChannelProfitDto"
                  }
                }
              },
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/ChannelProfitDto"
                  }
                }
              },
              "text/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/ChannelProfitDto"
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad request.",
            "content": {
              "application/problem+json": { }
            }
          },
          "401": {
            "description": "Unauthorized.",
            "content": {
              "application/problem+json": { }
            }
          },
          "403": {
            "description": "Forbidden.",
            "content": {
              "application/problem+json": { }
            }
          },
          "404": {
            "description": "Not found.",
            "content": {
              "application/problem+json": { }
            }
          },
          "409": {
            "description": "Conflict.",
            "content": {
              "application/problem+json": { }
            }
          },
          "500": {
            "description": "Server error.",
            "content": {
              "application/problem+json": { }
            }
          }
        }
      }
    },
    "/api/analytics/product-profit": {
      "get": {
        "tags": [
          "Analytics"
        ],
        "summary": "Get product profit analysis",
        "description": "Auto-generated documentation for Sumpooj.API.Controllers.AnalyticsController.GetProductProfit (Sumpooj.API). Response example: use this endpoint response schema with representative values.",
        "operationId": "Analytics_GetProductProfit",
        "parameters": [
          {
            "name": "fromDate",
            "in": "query",
            "schema": {
              "type": "string",
              "format": "date-time"
            }
          },
          {
            "name": "toDate",
            "in": "query",
            "schema": {
              "type": "string",
              "format": "date-time"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "text/plain": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/ProductProfitDto"
                  }
                }
              },
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/ProductProfitDto"
                  }
                }
              },
              "text/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/ProductProfitDto"
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad request.",
            "content": {
              "application/problem+json": { }
            }
          },
          "401": {
            "description": "Unauthorized.",
            "content": {
              "application/problem+json": { }
            }
          },
          "403": {
            "description": "Forbidden.",
            "content": {
              "application/problem+json": { }
            }
          },
          "404": {
            "description": "Not found.",
            "content": {
              "application/problem+json": { }
            }
          },
          "409": {
            "description": "Conflict.",
            "content": {
              "application/problem+json": { }
            }
          },
          "500": {
            "description": "Server error.",
            "content": {
              "application/problem+json": { }
            }
          }
        }
      }
    },
    "/api/analytics/platform-commission": {
      "get": {
        "tags": [
          "Analytics"
        ],
        "summary": "Get platform commission analysis",
        "description": "Auto-generated documentation for Sumpooj.API.Controllers.AnalyticsController.GetPlatformCommission (Sumpooj.API). Response example: use this endpoint response schema with representative values.",
        "operationId": "Analytics_GetPlatformCommission",
        "parameters": [
          {
            "name": "fromDate",
            "in": "query",
            "schema": {
              "type": "string",
              "format": "date-time"
            }
          },
          {
            "name": "toDate",
            "in": "query",
            "schema": {
              "type": "string",
              "format": "date-time"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "text/plain": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/PlatformCommissionDto"
                  }
                }
              },
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/PlatformCommissionDto"
                  }
                }
              },
              "text/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/PlatformCommissionDto"
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad request.",
            "content": {
              "application/problem+json": { }
            }
          },
          "401": {
            "description": "Unauthorized.",
            "content": {
              "application/problem+json": { }
            }
          },
          "403": {
            "description": "Forbidden.",
            "content": {
              "application/problem+json": { }
            }
          },
          "404": {
            "description": "Not found.",
            "content": {
              "application/problem+json": { }
            }
          },
          "409": {
            "description": "Conflict.",
            "content": {
              "application/problem+json": { }
            }
          },
          "500": {
            "description": "Server error.",
            "content": {
              "application/problem+json": { }
            }
          }
        }
      }
    },
    "/api/analytics/profit-by-category": {
      "get": {
        "tags": [
          "Analytics"
        ],
        "summary": "GET api/analytics/profit-by-category",
        "description": "Auto-generated documentation for Sumpooj.API.Controllers.AnalyticsController.GetProfitByCategory (Sumpooj.API). Response example: use this endpoint response schema with representative values.",
        "operationId": "Analytics_GetProfitByCategory",
        "parameters": [
          {
            "name": "fromDate",
            "in": "query",
            "schema": {
              "type": "string",
              "format": "date-time"
            }
          },
          {
            "name": "toDate",
            "in": "query",
            "schema": {
              "type": "string",
              "format": "date-time"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK"
          },
          "400": {
            "description": "Bad request.",
            "content": {
              "application/problem+json": { }
            }
          },
          "401": {
            "description": "Unauthorized.",
            "content": {
              "application/problem+json": { }
            }
          },
          "403": {
            "description": "Forbidden.",
            "content": {
              "application/problem+json": { }
            }
          },
          "404": {
            "description": "Not found.",
            "content": {
              "application/problem+json": { }
            }
          },
          "409": {
            "description": "Conflict.",
            "content": {
              "application/problem+json": { }
            }
          },
          "500": {
            "description": "Server error.",
            "content": {
              "application/problem+json": { }
            }
          }
        }
      }
    },
    "/api/analytics/top-products": {
      "get": {
        "tags": [
          "Analytics"
        ],
        "summary": "GET api/analytics/top-products",
        "description": "Auto-generated documentation for Sumpooj.API.Controllers.AnalyticsController.GetTopProducts (Sumpooj.API). Response example: use this endpoint response schema with representative values.",
        "operationId": "Analytics_GetTopProducts",
        "parameters": [
          {
            "name": "fromDate",
            "in": "query",
            "schema": {
              "type": "string",
              "format": "date-time"
            }
          },
          {
            "name": "toDate",
            "in": "query",
            "schema": {
              "type": "string",
              "format": "date-time"
            }
          },
          {
            "name": "limit",
            "in": "query",
            "schema": {
              "pattern": "^-?(?:0|[1-9]\\d*)$",
              "type": [
                "integer",
                "string"
              ],
              "format": "int32",
              "default": 10
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK"
          },
          "400": {
            "description": "Bad request.",
            "content": {
              "application/problem+json": { }
            }
          },
          "401": {
            "description": "Unauthorized.",
            "content": {
              "application/problem+json": { }
            }
          },
          "403": {
            "description": "Forbidden.",
            "content": {
              "application/problem+json": { }
            }
          },
          "404": {
            "description": "Not found.",
            "content": {
              "application/problem+json": { }
            }
          },
          "409": {
            "description": "Conflict.",
            "content": {
              "application/problem+json": { }
            }
          },
          "500": {
            "description": "Server error.",
            "content": {
              "application/problem+json": { }
            }
          }
        }
      }
    },
    "/api/analytics/low-margin-products": {
      "get": {
        "tags": [
          "Analytics"
        ],
        "summary": "GET api/analytics/low-margin-products",
        "description": "Auto-generated documentation for Sumpooj.API.Controllers.AnalyticsController.GetLowMarginProducts (Sumpooj.API). Response example: use this endpoint response schema with representative values.",
        "operationId": "Analytics_GetLowMarginProducts",
        "parameters": [
          {
            "name": "fromDate",
            "in": "query",
            "schema": {
              "type": "string",
              "format": "date-time"
            }
          },
          {
            "name": "toDate",
            "in": "query",
            "schema": {
              "type": "string",
              "format": "date-time"
            }
          },
          {
            "name": "limit",
            "in": "query",
            "schema": {
              "pattern": "^-?(?:0|[1-9]\\d*)$",
              "type": [
                "integer",
                "string"
              ],
              "format": "int32",
              "default": 10
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK"
          },
          "400": {
            "description": "Bad request.",
            "content": {
              "application/problem+json": { }
            }
          },
          "401": {
            "description": "Unauthorized.",
            "content": {
              "application/problem+json": { }
            }
          },
          "403": {
            "description": "Forbidden.",
            "content": {
              "application/problem+json": { }
            }
          },
          "404": {
            "description": "Not found.",
            "content": {
              "application/problem+json": { }
            }
          },
          "409": {
            "description": "Conflict.",
            "content": {
              "application/problem+json": { }
            }
          },
          "500": {
            "description": "Server error.",
            "content": {
              "application/problem+json": { }
            }
          }
        }
      }
    },
    "/api/analytics/profit-by-source": {
      "get": {
        "tags": [
          "Analytics"
        ],
        "summary": "GET api/analytics/profit-by-source",
        "description": "Auto-generated documentation for Sumpooj.API.Controllers.AnalyticsController.GetProfitBySource (Sumpooj.API). Response example: use this endpoint response schema with representative values.",
        "operationId": "Analytics_GetProfitBySource",
        "parameters": [
          {
            "name": "fromDate",
            "in": "query",
            "schema": {
              "type": "string",
              "format": "date-time"
            }
          },
          {
            "name": "toDate",
            "in": "query",
            "schema": {
              "type": "string",
              "format": "date-time"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK"
          },
          "400": {
            "description": "Bad request.",
            "content": {
              "application/problem+json": { }
            }
          },
          "401": {
            "description": "Unauthorized.",
            "content": {
              "application/problem+json": { }
            }
          },
          "403": {
            "description": "Forbidden.",
            "content": {
              "application/problem+json": { }
            }
          },
          "404": {
            "description": "Not found.",
            "content": {
              "application/problem+json": { }
            }
          },
          "409": {
            "description": "Conflict.",
            "content": {
              "application/problem+json": { }
            }
          },
          "500": {
            "description": "Server error.",
            "content": {
              "application/problem+json": { }
            }
          }
        }
      }
    },
    "/api/analytics/daily-profit": {
      "get": {
        "tags": [
          "Analytics"
        ],
        "summary": "GET api/analytics/daily-profit",
        "description": "Auto-generated documentation for Sumpooj.API.Controllers.AnalyticsController.GetDailyProfit (Sumpooj.API). Response example: use this endpoint response schema with representative values.",
        "operationId": "Analytics_GetDailyProfit",
        "parameters": [
          {
            "name": "fromDate",
            "in": "query",
            "schema": {
              "type": "string",
              "format": "date-time"
            }
          },
          {
            "name": "toDate",
            "in": "query",
            "schema": {
              "type": "string",
              "format": "date-time"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK"
          },
          "400": {
            "description": "Bad request.",
            "content": {
              "application/problem+json": { }
            }
          },
          "401": {
            "description": "Unauthorized.",
            "content": {
              "application/problem+json": { }
            }
          },
          "403": {
            "description": "Forbidden.",
            "content": {
              "application/problem+json": { }
            }
          },
          "404": {
            "description": "Not found.",
            "content": {
              "application/problem+json": { }
            }
          },
          "409": {
            "description": "Conflict.",
            "content": {
              "application/problem+json": { }
            }
          },
          "500": {
            "description": "Server error.",
            "content": {
              "application/problem+json": { }
            }
          }
        }
      }
    },
    "/api/analytics/wire-order-profit": {
      "get": {
        "tags": [
          "Analytics"
        ],
        "summary": "GET api/analytics/wire-order-profit",
        "description": "Auto-generated documentation for Sumpooj.API.Controllers.AnalyticsController.GetWireOrderProfit (Sumpooj.API). Response example: use this endpoint response schema with representative values.",
        "operationId": "Analytics_GetWireOrderProfit",
        "parameters": [
          {
            "name": "fromDate",
            "in": "query",
            "schema": {
              "type": "string",
              "format": "date-time"
            }
          },
          {
            "name": "toDate",
            "in": "query",
            "schema": {
              "type": "string",
              "format": "date-time"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK"
          },
          "400": {
            "description": "Bad request.",
            "content": {
              "application/problem+json": { }
            }
          },
          "401": {
            "description": "Unauthorized.",
            "content": {
              "application/problem+json": { }
            }
          },
          "403": {
            "description": "Forbidden.",
            "content": {
              "application/problem+json": { }
            }
          },
          "404": {
            "description": "Not found.",
            "content": {
              "application/problem+json": { }
            }
          },
          "409": {
            "description": "Conflict.",
            "content": {
              "application/problem+json": { }
            }
          },
          "500": {
            "description": "Server error.",
            "content": {
              "application/problem+json": { }
            }
          }
        }
      }
    },
    "/api/analytics/event-profit": {
      "get": {
        "tags": [
          "Analytics"
        ],
        "summary": "GET api/analytics/event-profit",
        "description": "Auto-generated documentation for Sumpooj.API.Controllers.AnalyticsController.GetEventProfit (Sumpooj.API). Response example: use this endpoint response schema with representative values.",
        "operationId": "Analytics_GetEventProfit",
        "parameters": [
          {
            "name": "fromDate",
            "in": "query",
            "schema": {
              "type": "string",
              "format": "date-time"
            }
          },
          {
            "name": "toDate",
            "in": "query",
            "schema": {
              "type": "string",
              "format": "date-time"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK"
          },
          "400": {
            "description": "Bad request.",
            "content": {
              "application/problem+json": { }
            }
          },
          "401": {
            "description": "Unauthorized.",
            "content": {
              "application/problem+json": { }
            }
          },
          "403": {
            "description": "Forbidden.",
            "content": {
              "application/problem+json": { }
            }
          },
          "404": {
            "description": "Not found.",
            "content": {
              "application/problem+json": { }
            }
          },
          "409": {
            "description": "Conflict.",
            "content": {
              "application/problem+json": { }
            }
          },
          "500": {
            "description": "Server error.",
            "content": {
              "application/problem+json": { }
            }
          }
        }
      }
    },
    "/api/audit-logs/search": {
      "get": {
        "tags": [
          "AuditLogs"
        ],
        "summary": "Search audit logs with filters",
        "description": "Auto-generated documentation for Sumpooj.API.Controllers.AuditLogsController.Search (Sumpooj.API). Response example: use this endpoint response schema with representative values.",
        "operationId": "AuditLogs_Search",
        "parameters": [
          {
            "name": "UserId",
            "in": "query",
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          },
          {
            "name": "UserName",
            "in": "query",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "Action",
            "in": "query",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "EntityType",
            "in": "query",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "EntityId",
            "in": "query",
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          },
          {
            "name": "FromDate",
            "in": "query",
            "schema": {
              "type": "string",
              "format": "date-time"
            }
          },
          {
            "name": "ToDate",
            "in": "query",
            "schema": {
              "type": "string",
              "format": "date-time"
            }
          },
          {
            "name": "IsSuccess",
            "in": "query",
            "schema": {
              "type": "boolean"
            }
          },
          {
            "name": "Page",
            "in": "query",
            "schema": {
              "pattern": "^-?(?:0|[1-9]\\d*)$",
              "type": [
                "integer",
                "string"
              ],
              "format": "int32"
            }
          },
          {
            "name": "PageSize",
            "in": "query",
            "schema": {
              "pattern": "^-?(?:0|[1-9]\\d*)$",
              "type": [
                "integer",
                "string"
              ],
              "format": "int32"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK"
          },
          "400": {
            "description": "Bad request.",
            "content": {
              "application/problem+json": { }
            }
          },
          "401": {
            "description": "Unauthorized.",
            "content": {
              "application/problem+json": { }
            }
          },
          "403": {
            "description": "Forbidden.",
            "content": {
              "application/problem+json": { }
            }
          },
          "404": {
            "description": "Not found.",
            "content": {
              "application/problem+json": { }
            }
          },
          "409": {
            "description": "Conflict.",
            "content": {
              "application/problem+json": { }
            }
          },
          "500": {
            "description": "Server error.",
            "content": {
              "application/problem+json": { }
            }
          }
        }
      }
    },
    "/api/audit-logs/recent": {
      "get": {
        "tags": [
          "AuditLogs"
        ],
        "summary": "Get recent audit logs",
        "description": "Auto-generated documentation for Sumpooj.API.Controllers.AuditLogsController.GetRecent (Sumpooj.API). Response example: use this endpoint response schema with representative values.",
        "operationId": "AuditLogs_GetRecent",
        "parameters": [
          {
            "name": "limit",
            "in": "query",
            "schema": {
              "pattern": "^-?(?:0|[1-9]\\d*)$",
              "type": [
                "integer",
                "string"
              ],
              "format": "int32",
              "default": 100
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK"
          },
          "400": {
            "description": "Bad request.",
            "content": {
              "application/problem+json": { }
            }
          },
          "401": {
            "description": "Unauthorized.",
            "content": {
              "application/problem+json": { }
            }
          },
          "403": {
            "description": "Forbidden.",
            "content": {
              "application/problem+json": { }
            }
          },
          "404": {
            "description": "Not found.",
            "content": {
              "application/problem+json": { }
            }
          },
          "409": {
            "description": "Conflict.",
            "content": {
              "application/problem+json": { }
            }
          },
          "500": {
            "description": "Server error.",
            "content": {
              "application/problem+json": { }
            }
          }
        }
      }
    },
    "/api/audit-logs/{id}": {
      "get": {
        "tags": [
          "AuditLogs"
        ],
        "summary": "Get audit log by ID",
        "description": "Auto-generated documentation for Sumpooj.API.Controllers.AuditLogsController.GetById (Sumpooj.API). Response example: use this endpoint response schema with representative values.",
        "operationId": "AuditLogs_GetById",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK"
          },
          "400": {
            "description": "Bad request.",
            "content": {
              "application/problem+json": { }
            }
          },
          "401": {
            "description": "Unauthorized.",
            "content": {
              "application/problem+json": { }
            }
          },
          "403": {
            "description": "Forbidden.",
            "content": {
              "application/problem+json": { }
            }
          },
          "404": {
            "description": "Not found.",
            "content": {
              "application/problem+json": { }
            }
          },
          "409": {
            "description": "Conflict.",
            "content": {
              "application/problem+json": { }
            }
          },
          "500": {
            "description": "Server error.",
            "content": {
              "application/problem+json": { }
            }
          }
        }
      }
    },
    "/api/audit-logs/entity/{entityType}/{entityId}": {
      "get": {
        "tags": [
          "AuditLogs"
        ],
        "summary": "Get audit history for a specific entity",
        "description": "Auto-generated documentation for Sumpooj.API.Controllers.AuditLogsController.GetByEntity (Sumpooj.API). Response example: use this endpoint response schema with representative values.",
        "operationId": "AuditLogs_GetByEntity",
        "parameters": [
          {
            "name": "entityType",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "entityId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK"
          },
          "400": {
            "description": "Bad request.",
            "content": {
              "application/problem+json": { }
            }
          },
          "401": {
            "description": "Unauthorized.",
            "content": {
              "application/problem+json": { }
            }
          },
          "403": {
            "description": "Forbidden.",
            "content": {
              "application/problem+json": { }
            }
          },
          "404": {
            "description": "Not found.",
            "content": {
              "application/problem+json": { }
            }
          },
          "409": {
            "description": "Conflict.",
            "content": {
              "application/problem+json": { }
            }
          },
          "500": {
            "description": "Server error.",
            "content": {
              "application/problem+json": { }
            }
          }
        }
      }
    },
    "/api/audit-logs/user/{userId}": {
      "get": {
        "tags": [
          "AuditLogs"
        ],
        "summary": "Get audit history for a specific user",
        "description": "Auto-generated documentation for Sumpooj.API.Controllers.AuditLogsController.GetByUser (Sumpooj.API). Response example: use this endpoint response schema with representative values.",
        "operationId": "AuditLogs_GetByUser",
        "parameters": [
          {
            "name": "userId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
[...]
